
.dhtmlx_message_area{position:fixed; right:5px; width:250px; z-index:1000}
.dhtmlx-info{min-width: 120px; padding:4px 4px 4px 20px; font-family:Tahoma; z-index: 10000; margin:5px; margin-bottom:10px; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease}
.dhtmlx-info.hidden{height:0px; padding:0px; border-width:0px; margin:0px; overflow:hidden}
.dhtmlx_modal_box{overflow:hidden; display: inline-block; min-width: 300px; width: 300px; text-align: center; position:fixed; background-color: #fff; background:-webkit-linear-gradient(top, #ffffff 1%, #d0d0d0 99%); background:-moz-linear-gradient(top, #ffffff 1%, #d0d0d0 99%); box-shadow: 0px 0px 14px #888; font-family: Tahoma; z-index:20000; border-radius:6px; border: 1px solid #ffffff}
.dhtmlx_popup_title{border-top-left-radius:5px; border-top-right-radius:5px; border-width:0px; 
 background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAoCAMAAAAIaGBFAAAAhFBMVEVwcHBubm5sbGxqampoaGhmZmZlZWVjY2NhYWFfX19dXV1bW1taWlpYWFhWVlZUVFRSUlJRUVFPT09NTU1LS0tJSUlHR0dGRkZERERCQkJAQEA+Pj49PT09PT0+Pj5AQEBBQUFDQ0NERERGRkZHR0dJSUlKSkpMTExMTEw5OTk5OTk5OTkny8YEAAAAQklEQVQImQXBCRJCAAAAwKVSQqdyjSPXNP7/QLsIhA6OTiJnF7GrRCpzc/fw9PKW+/gqlCq1RqvTG/yMJrPF6m/bAVEhAxxnHG0oAAAAAElFTkSuQmCC); background-image: -webkit-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 97%, #393939 97%); background-image: -moz-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 97%, #393939 97%)}
.dhtmlx-info, .dhtmlx_popup_button, .dhtmlx_button{user-select: none; -webkit-user-select: none; -moz-user-select:-moz-none; cursor:pointer}
.dhtmlx_popup_text{overflow:hidden}
.dhtmlx_popup_controls{border-radius:6px; padding:5px}
.dhtmlx_popup_button, .dhtmlx_button{height: 30px; line-height:30px; display: inline-block; margin: 0 5px; border-radius: 6px; color:#FFF}
.dhtmlx_popup_button{min-width: 120px}
div.dhx_modal_cover {background-color:#000; cursor:default; filter:alpha(opacity = 20); opacity: 0.2; position: fixed; z-index:19999; left: 0px; top: 0px; width: 100%; height: 100%; border: none; zoom: 1}
.dhtmlx-info img, .dhtmlx_modal_box img{float:left; margin-right:20px}
.dhtmlx-alert-error .dhtmlx_popup_title, .dhtmlx-confirm-error .dhtmlx_popup_title{background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAsCAIAAAArRUU2AAAATklEQVR4nIWLuw2AMBBDjVuQiBT2oWbRDATrnB0KQOJoqPzRe3BrHI6dcBASYREKovtK6/6DsDOX+stN+3H1YX9ciRgnYq5EWYhS2dftBIuLT4JyIrPCAAAAAElFTkSuQmCC)}
.dhtmlx-alert-error, .dhtmlx-confirm-error {border: 1px solid #ff0000}
.dhtmlx_button, .dhtmlx_popup_button{box-shadow: 0px 0px 4px #888; border:1px solid #838383}
.dhtmlx_button input, .dhtmlx_popup_button div{border:1px solid #FFF; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAMAAADaS4T1AAAAYFBMVEVwcHBtbW1ra2toaGhmZmZjY2NhYWFeXl5cXFxaWlpXV1dVVVVSUlJQUFBNTU1LS0tJSUlGRkZERERBQUE/Pz88PDw9PT0+Pj5AQEBCQkJDQ0NFRUVHR0dISEhKSkpMTEzqthaMAAAAMklEQVQImQXBhQ2AMAAAsOIMlwWH/8+kRSKVyRVKlVrQaHV6g9FktlhFm93hdLk9Xt8PIfgBvdUqyskAAAAASUVORK5CYII=); background-image: -webkit-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 99%); background-image: -moz-linear-gradient(top, #707070 1%, #3d3d3d 70%, #4c4c4c 99%); border-radius:6px; font-size:15px; font-weight:normal; 
 -moz-box-sizing:content-box; box-sizing:content-box; color:#fff; padding:0px; margin:0px; vertical-align:top; height:28px; line-height:28px}
.dhtmlx_button input:focus, .dhtmlx_button input:active, .dhtmlx_popup_button div:active, .dhtmlx_popup_button div:focus{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAMAAADaS4T1AAAAXVBMVEVwcHBubm5tbW1sbGxra2tpaWloaGhnZ2dmZmZlZWVjY2NiYmJhYWFgYGBfX19dXV1cXFxbW1taWlpZWVlXV1dWVlZVVVVUVFRTU1NRUVFQUFBPT09OTk5NTU1LS0tT9SY0AAAAMUlEQVQImQXBhQGAMAAAIGxnx2z9/00BiVQmVyhVakGj1ekNRpPZYhVtdofT5fZ4fT8hpwG05JjexgAAAABJRU5ErkJggg==); background-image: -webkit-linear-gradient(top, #707070 1%, #4c4c4c 99%); background-image: -moz-linear-gradient(top, #707070 1%, #4c4c4c 99%); 
}
.dhtmlx_popup_title{color:#fff; text-shadow: 1px 1px #000; height:40px; line-height:40px; font-size:20px}
.dhtmlx_popup_text{margin:15px 15px 5px 15px; font-size:14px; color:#000; min-height:30px; border-radius:6px}
.dhtmlx-info, .dhtmlx-error{font-size:14px; color:#000; box-shadow: 0px 0px 10px #888; 
 padding:0px; 
 background-color:#FFF; border-radius:3px; border:1px solid #ffffff}
.dhtmlx-info div{padding:5px 10px 5px 10px; background-color: #fff; border-radius:3px; border:1px solid #B8B8B8}
.dhtmlx-error{background-color: #d81b1b; border:1px solid #ff3c3c; box-shadow: 0px 0px 10px #000}
.dhtmlx-error div{background-color: #d81b1b; 
 border:1px solid #940000; color:#FFF}
.dhtmlxcolorpicker{background:#E6E5E5; color: #000}
.dhtmlxcolorpicker .cs_ContentTable{margin:8px}
.dhtmlxcolorpicker .cs_SelectorDiv {border:1px solid gray; overflow:hidden; position:relative; width:256px; height:256px}
.dhtmlxcolorpicker .cs_SelectorDiv_Mini {border:1px solid gray; overflow:hidden; position:relative; width:210px; height:120px}
.dhtmlxcolorpicker .cs_SelectorVer{position:absolute; width:1px; height:100%; background-color:white; overflow:hidden}
.dhtmlxcolorpicker .cs_SelectorHor{position:absolute; width:100%; height:1px; background-color:white; overflow:hidden}
.dhtmlxcolorpicker .cs_LumSelect {border:1px solid gray; margin-left:13px; margin-right:10px; position:relative; width:15px; 
}
.dhtmlxcolorpicker .cs_LumSelect_Mini {border:1px solid gray; margin-left:6px; position:relative; width:12px; 
}
.dhtmlxcolorpicker .cs_LumSelectLine{position:absolute; width:100%; height:1px; overflow:hidden; background-color:white}
.dhtmlxcolorpicker .cs_LumSelectArrow {position:absolute; background:url('imgs/slide.gif') no-repeat; width:13px; height:9px; overflow:hidden}
.dhtmlxcolorpicker .cs_LumElement {width:100%; height:4px; border:0px; overflow:hidden}
.dhtmlxcolorpicker .cs_ColorArea {font-family:Arial; font-size:12px; 
 width:100%; 
}
.dhtmlxcolorpicker .cs_ColorArea_Mini {font-family:Arial; font-size:12px; 
 width:100%}
.dhtmlxcolorpicker .cs_ColorArea TD {text-align:right; height:25px}
.dhtmlxcolorpicker .cs_ColorArea_Mini TD {text-align:right; height:18px; 
}
.dhtmlxcolorpicker .cs_EndColor {width:72px; height:69px; border:1px solid gray}
.dhtmlxcolorpicker .cs_EndColor_Mini {width:100px; height:30px; border:1px solid gray; 
 
}
.dhtmlxcolorpicker .cs_Hex {font-family:Arial; 
 Font-size: 12px; 
 width:55px}
.dhtmlxcolorpicker .cs_Hex_Mini,
.dhtmlxcolorpicker .cs_Hex_MiniX {font-family:Arial; 
 Font-size: 10px; 
 height:15px; 
 width:45px; margin:0px; padding:0px; 
}
.dhtmlxcolorpicker .cs_Hex_MiniX {height:11px}
.dhtmlxcolorpicker .cs_Input {width:26px; font-family:Arial; Font-size: 12px; text-align:right}
.dhtmlxcolorpicker .cs_Input_Mini, 
.dhtmlxcolorpicker .cs_Input_MiniX {width:22px; height:15px; font-family:Arial; Font-size: 10px; margin:0px; padding:0px; text-align:right}
.dhtmlxcolorpicker .cs_Input_MiniX {height:11px}
.commonInputStyle,
.dhtmlxcolorpicker .cs_CustomColorAdd,
.dhtmlxcolorpicker .cs_CustomColorAdd_Hover,
.dhtmlxcolorpicker .cs_ButtonOk,
.dhtmlxcolorpicker .cs_ButtonOk_Hover,
.dhtmlxcolorpicker .cs_ButtonCancel,
.dhtmlxcolorpicker .cs_ButtonCancel_Hover,
.dhtmlxcolorpicker .cs_CustomColorAdd_Mini,
.dhtmlxcolorpicker .cs_CustomColorAdd_Mini_Hover{border:1px outset white; background:#d4cfc9; height:22px}
.dhtmlxcolorpicker .cs_CustomColorAdd,
.dhtmlxcolorpicker .cs_CustomColorAdd_Hover{width:145px; font-family:Arial; Font-size: 12px; margin-top:8px}
.dhtmlxcolorpicker .cs_CustomColorAdd_Mini,
.dhtmlxcolorpicker .cs_CustomColorAdd_Mini_Hover{width:100%; font-family:Arial; Font-size: 12px; margin-top:6px}
.dhtmlxcolorpicker .cs_CustomColors{margin-top:8px; width:76px; height:38px}
.dhtmlxcolorpicker .cs_CustomColors_Mini{width:100%; height:18px; margin-top:6px}
.dhtmlxcolorpicker .cs_CustomColor{float:left; width:14px; height:14px; border:1px solid gray; overflow:hidden; cursor:pointer; 
 margin-bottom:3px; margin-right:3px}
.dhtmlxcolorpicker .cs_CustomColor_Mini{float:left; width:18px; height:18px; border:1px solid gray; overflow:hidden; cursor:pointer; 
 margin-bottom:3px; margin-right:3px}
.dhtmlxcolorpicker .cs_ButtonOk,
.dhtmlxcolorpicker .cs_ButtonOk_Hover{margin-top:3px; margin-right:6px; 
 float:right; width:70px; font-family:Arial; Font-size: 12px}
.dhtmlxcolorpicker .cs_ButtonCancel,
.dhtmlxcolorpicker .cs_ButtonCancel_Hover{margin-top:3px; margin-right:7px; 
 width:70px; float:right; font-family:Arial; Font-size: 12px}
.dhtmlxcolorpicker .cs_colorInput{position:absolute; top:0px; left:0px}
.dhtmlxcolorpicker .cs_colorBox{position:absolute; top:0px; left:0px; border:1px solid black}
.dhtmlxcolorpicker .cs_ButtonsPanel{height:37px; background: url('imgs/cp_buttons_panel.gif')}
.dhtmlxcolorpicker_dhx_black{background:#000}
.dhtmlxcolorpicker_dhx_black .cs_ContentTable{margin:8px}
.dhtmlxcolorpicker_dhx_black .cs_SelectorDiv {border:1px solid gray; overflow:hidden; position:relative; width:256px; height:256px}
.dhtmlxcolorpicker_dhx_black .cs_SelectorDiv_Mini {border:1px solid gray; overflow:hidden; position:relative; width:210px; height:120px}
.dhtmlxcolorpicker_dhx_black .cs_SelectorVer{position:absolute; width:1px; height:100%; background-color:white; overflow:hidden}
.dhtmlxcolorpicker_dhx_black .cs_SelectorHor{position:absolute; width:100%; height:1px; background-color:white; overflow:hidden}
.dhtmlxcolorpicker_dhx_black .cs_LumSelect {border:1px solid gray; margin-left:13px; margin-right:10px; position:relative; width:15px; 
}
.dhtmlxcolorpicker_dhx_black .cs_LumSelect_Mini {border:1px solid gray; margin-left:6px; position:relative; width:12px; 
}
.dhtmlxcolorpicker_dhx_black .cs_LumSelectLine{position:absolute; width:100%; height:1px; overflow:hidden; background-color:white}
.dhtmlxcolorpicker_dhx_black .cs_LumSelectArrow {position:absolute; background:url('img/__dhxCP_skin_Black/slide.gif') no-repeat; width:13px; height:9px; overflow:hidden}
.dhtmlxcolorpicker_dhx_black .cs_LumElement {width:100%; height:4px; border:0px; font-size:0px; overflow:hidden}
.dhtmlxcolorpicker_dhx_black .cs_ColorArea {font-family:Arial; font-size:12px; 
 width:100%; 
 color:#ffffff}
.dhtmlxcolorpicker_dhx_black .cs_ColorArea_Mini {font-family:Arial; font-size:12px; 
 width:100%; color:#ffffff}
.dhtmlxcolorpicker_dhx_black .cs_ColorArea TD {text-align:right; height:25px}
.dhtmlxcolorpicker_dhx_black .cs_ColorArea_Mini TD {text-align:right; height:18px; 
 
}
.dhtmlxcolorpicker_dhx_black .cs_EndColor {width:72px; height:69px; border:1px solid gray}
.dhtmlxcolorpicker_dhx_black .cs_EndColor_Mini {width:100px; height:30px; border:1px solid gray; 
 
}
.dhtmlxcolorpicker_dhx_black .cs_Hex {font-family:Arial; 
 Font-size: 12px; 
 width:55px}
.dhtmlxcolorpicker_dhx_black .cs_Hex_Mini,
.dhtmlxcolorpicker_dhx_black .cs_Hex_MiniX {font-family:Arial; 
 Font-size: 10px; 
 height:15px; 
 width:45px; margin:0px; padding:0px; 
}
.dhtmlxcolorpicker_dhx_black .cs_Hex_MiniX {height:11px}
.dhtmlxcolorpicker_dhx_black .cs_Input {width:26px; font-family:Arial; Font-size: 12px; text-align:right}
.dhtmlxcolorpicker_dhx_black .cs_Input_Mini, 
.dhtmlxcolorpicker_dhx_black .cs_Input_MiniX {width:22px; height:15px; font-family:Arial; Font-size: 10px; margin:0px; padding:0px; text-align:right}
.dhtmlxcolorpicker_dhx_black .cs_Input_MiniX {height:11px}
.commonInputStyle,
.dhtmlxcolorpicker_dhx_black .cs_CustomColorAdd,
.dhtmlxcolorpicker_dhx_black .cs_CustomColorAdd_Hover,
.dhtmlxcolorpicker_dhx_black .cs_ButtonOk,
.dhtmlxcolorpicker_dhx_black .cs_ButtonOk_Hover,
.dhtmlxcolorpicker_dhx_black .cs_ButtonCancel,
.dhtmlxcolorpicker_dhx_black .cs_ButtonCancel_Hover,
.dhtmlxcolorpicker_dhx_black .cs_CustomColorAdd_Mini,
.dhtmlxcolorpicker_dhx_black .cs_CustomColorAdd_Mini_Hover{border:1px outset white; background:#d4cfc9; height:22px}
.dhtmlxcolorpicker_dhx_black .cs_CustomColorAdd,
.dhtmlxcolorpicker_dhx_black .cs_CustomColorAdd_Hover{width:145px; font-family:Arial; Font-size: 12px; margin-top:8px}
.dhtmlxcolorpicker_dhx_black .cs_CustomColorAdd_Mini,
.dhtmlxcolorpicker_dhx_black .cs_CustomColorAdd_Mini_Hover{width:100%; font-family:Arial; Font-size: 12px; margin-top:6px}
.dhtmlxcolorpicker_dhx_black .cs_CustomColors{margin-top:8px; width:76px; height:38px}
.dhtmlxcolorpicker_dhx_black .cs_CustomColors_Mini{width:100%; height:18px; margin-top:6px}
.dhtmlxcolorpicker_dhx_black .cs_CustomColor{float:left; width:14px; height:14px; border:1px solid gray; overflow:hidden; cursor:pointer; 
 margin-bottom:3px; margin-right:3px}
.dhtmlxcolorpicker_dhx_black .cs_CustomColor_Mini{float:left; width:18px; height:18px; border:1px solid gray; overflow:hidden; cursor:pointer; 
 margin-bottom:3px; margin-right:3px}
.dhtmlxcolorpicker_dhx_black .cs_ButtonOk,
.dhtmlxcolorpicker_dhx_black .cs_ButtonOk_Hover{margin-top:3px; margin-right:6px; 
 float:right; width:70px; font-family:Arial; Font-size: 12px}
.dhtmlxcolorpicker_dhx_black .cs_ButtonCancel,
.dhtmlxcolorpicker_dhx_black .cs_ButtonCancel_Hover{margin-top:3px; margin-right:7px; 
 width:70px; float:right; font-family:Arial; Font-size: 12px}
.dhtmlxcolorpicker_dhx_black .cs_colorInput{position:absolute; top:0px; left:0px}
.dhtmlxcolorpicker_dhx_black .cs_colorBox{position:absolute; top:0px; left:0px; border:1px solid black}
.dhtmlxcolorpicker_dhx_black .cs_ButtonsPanel{height:37px; background:url('imgs/__dhxCP_skin_Black/cp_buttons_panel.png')}
.dhtmlxcolorpicker_dhx_blue{background:#d3e2e5}
.dhtmlxcolorpicker_dhx_blue .cs_ContentTable{margin:8px; 
}
.dhtmlxcolorpicker_dhx_blue .cs_SelectorDiv {border:1px solid gray; overflow:hidden; position:relative; width:256px; height:256px}
.dhtmlxcolorpicker_dhx_blue .cs_SelectorDiv_Mini {border:1px solid #adc6cb; overflow:hidden; position:relative; width:210px; height:120px}
.dhtmlxcolorpicker_dhx_blue .cs_SelectorVer{position:absolute; width:1px; height:100%; background-color:white; overflow:hidden}
.dhtmlxcolorpicker_dhx_blue .cs_SelectorHor{position:absolute; width:100%; height:1px; background-color:white; overflow:hidden}
.dhtmlxcolorpicker_dhx_blue .cs_LumSelect {border:1px solid gray; margin-left:13px; margin-right:10px; position:relative; width:15px; 
}
.dhtmlxcolorpicker_dhx_blue .cs_LumSelect_Mini {border:1px solid #adc6cb; margin-left:6px; position:relative; width:12px; 
}
.dhtmlxcolorpicker_dhx_blue .cs_LumSelectLine{position:absolute; width:100%; height:1px; overflow:hidden; background-color:white}
.dhtmlxcolorpicker_dhx_blue .cs_LumSelectArrow {position:absolute; background:url('imgs/__dhxCP_skin_Blue/slide.gif') no-repeat; width:13px; height:9px; overflow:hidden}
.dhtmlxcolorpicker_dhx_blue .cs_LumElement {width:100%; height:4px; border:0px; font-size:0px; overflow:hidden}
.dhtmlxcolorpicker_dhx_blue .cs_ColorArea {font-family:Arial; font-size:12px; 
 width:100%; 
 color:#02609e}
.dhtmlxcolorpicker_dhx_blue .cs_ColorArea_Mini {font-family:Arial; font-size:12px; 
 width:100%; color:#02609e}
.dhtmlxcolorpicker_dhx_blue .cs_ColorArea TD {text-align:right; height:25px}
.dhtmlxcolorpicker_dhx_blue .cs_ColorArea_Mini TD {text-align:right; height:18px; 
 
}
.dhtmlxcolorpicker_dhx_blue .cs_EndColor {width:72px; height:69px; border:1px solid gray}
.dhtmlxcolorpicker_dhx_blue .cs_EndColor_Mini {width:100px; height:30px; border:1px solid #adc6cb; 
 
}
.dhtmlxcolorpicker_dhx_blue .cs_Hex {font-family:Arial; 
 Font-size: 12px; 
 width:55px}
.dhtmlxcolorpicker_dhx_blue .cs_Hex_Mini,
.dhtmlxcolorpicker_dhx_blue .cs_Hex_MiniX {font-family:Arial; 
 Font-size: 10px; 
 height:15px; 
 width:45px; margin:0px; padding:0px; 
 border:1px solid #adc6cb}
.dhtmlxcolorpicker_dhx_blue .cs_Hex_MiniX {height:11px}
.dhtmlxcolorpicker_dhx_blue .cs_Input {width:26px; font-family:Arial; Font-size: 12px; text-align:right}
.dhtmlxcolorpicker_dhx_blue .cs_Input_Mini, 
.dhtmlxcolorpicker_dhx_blue .cs_Input_MiniX {width:22px; height:15px; font-family:Arial; Font-size: 10px; margin:0px; padding:0px; text-align:right; border:1px solid #adc6cb}
.dhtmlxcolorpicker_dhx_blue .cs_Input_MiniX {height:11px}
.commonInputStyle,
.dhtmlxcolorpicker_dhx_blue .cs_CustomColorAdd,
.dhtmlxcolorpicker_dhx_blue .cs_CustomColorAdd_Hover,
.dhtmlxcolorpicker_dhx_blue .cs_ButtonOk,
.dhtmlxcolorpicker_dhx_blue .cs_ButtonOk_Hover,
.dhtmlxcolorpicker_dhx_blue .cs_ButtonCancel,
.dhtmlxcolorpicker_dhx_blue .cs_ButtonCancel_Hover,
.dhtmlxcolorpicker_dhx_blue .cs_CustomColorAdd_Mini,
.dhtmlxcolorpicker_dhx_blue .cs_CustomColorAdd_Mini_Hover{border:1px outset white; background:#d4cfc9; height:22px}
.dhtmlxcolorpicker_dhx_blue .cs_CustomColorAdd,
.dhtmlxcolorpicker_dhx_blue .cs_CustomColorAdd_Hover{width:145px; font-family:Arial; Font-size: 12px; margin-top:8px}
.dhtmlxcolorpicker_dhx_blue .cs_CustomColorAdd_Mini,
.dhtmlxcolorpicker_dhx_blue .cs_CustomColorAdd_Mini_Hover{width:100%; font-family:Arial; Font-size: 12px; margin-top:6px}
.dhtmlxcolorpicker_dhx_blue .cs_CustomColors{margin-top:8px; width:76px; height:38px}
.dhtmlxcolorpicker_dhx_blue .cs_CustomColors_Mini{width:100%; height:18px; margin-top:6px}
.dhtmlxcolorpicker_dhx_blue .cs_CustomColor{float:left; width:14px; height:14px; border:1px solid #adc6cb; overflow:hidden; cursor:pointer; 
 margin-bottom:3px; margin-right:3px}
.dhtmlxcolorpicker_dhx_blue .cs_CustomColor_Mini{float:left; width:18px; height:18px; border:1px solid #adc6cb; overflow:hidden; cursor:pointer; 
 margin-bottom:3px; margin-right:3px}
.dhtmlxcolorpicker_dhx_blue .cs_ButtonOk,
.dhtmlxcolorpicker_dhx_blue .cs_ButtonOk_Hover{margin-top:3px; margin-right:6px; 
 float:right; width:70px; font-family:Arial; Font-size: 12px}
.dhtmlxcolorpicker_dhx_blue .cs_ButtonCancel,
.dhtmlxcolorpicker_dhx_blue .cs_ButtonCancel_Hover{margin-top:3px; margin-right:7px; 
 width:70px; float:right; font-family:Arial; Font-size: 12px}
.dhtmlxcolorpicker_dhx_blue .cs_colorInput{position:absolute; top:0px; left:0px}
.dhtmlxcolorpicker_dhx_blue .cs_colorBox{position:absolute; top:0px; left:0px; border:1px solid blue}
.dhtmlxcolorpicker_dhx_blue .cs_ButtonsPanel{height:37px; background:url('imgs/__dhxCP_skin_Blue/cp_buttons_panel.png')}
.dhtmlxcolorpicker_dhx_skyblue{background: url('imgs/__dhxCP_skin_SkyBlue/bg_head.gif') repeat-x #c3d4eb}
.dhtmlxcolorpicker_dhx_skyblue .cs_ContentTable{margin: 20px 8px 0}
.dhtmlxcolorpicker_dhx_skyblue .cs_SelectorDiv {border:1px solid #fff; overflow:hidden; position:relative; width:256px; height:256px}
.dhtmlxcolorpicker_dhx_skyblue .cs_SelectorDiv_Mini {border:1px solid #fff; overflow:hidden; position:relative; width:210px; height:120px}
.dhtmlxcolorpicker_dhx_skyblue .cs_SelectorVer{position:absolute; width:1px; height:100%; background-color:white; overflow:hidden}
.dhtmlxcolorpicker_dhx_skyblue .cs_SelectorHor{position:absolute; width:100%; height:1px; background-color:white; overflow:hidden}
.dhtmlxcolorpicker_dhx_skyblue .cs_LumSelect {border:1px solid #fff; margin-left:13px; margin-right:10px; position:relative; width:15px; 
}
.dhtmlxcolorpicker_dhx_skyblue .cs_LumSelect_Mini {border:1px solid #fff; margin-left:6px; position:relative; width:12px; 
}
.dhtmlxcolorpicker_dhx_skyblue .cs_LumSelectLine{position:absolute; width:100%; height:1px; overflow:hidden; background-color:white}
.dhtmlxcolorpicker_dhx_skyblue .cs_LumSelectArrow {position:absolute; background:url('imgs/__dhxCP_skin_SkyBlue/slide.gif') no-repeat; width:13px; height:9px; overflow:hidden}
.dhtmlxcolorpicker_dhx_skyblue .cs_LumElement {width:100%; height:4px; border:0px; font-size:0px; overflow:hidden}
.dhtmlxcolorpicker_dhx_skyblue .cs_ColorArea {font-family:Arial; font-size:12px; 
 width:100%; 
 color:#02609e}
.dhtmlxcolorpicker_dhx_skyblue .cs_ColorArea_Mini {font-family:Arial; font-size:12px; 
 width:100%; color:#02609e}
.dhtmlxcolorpicker_dhx_skyblue .cs_ColorArea TD {text-align:right; height:25px}
.dhtmlxcolorpicker_dhx_skyblue .cs_ColorArea_Mini TD {text-align:right; height:18px; 
 
}
.dhtmlxcolorpicker_dhx_skyblue .cs_EndColor {width:72px; height:69px; border:1px solid #fff}
.dhtmlxcolorpicker_dhx_skyblue .cs_EndColor_Mini {width:100px; height:30px; border:1px solid #fff; 
 
}
.dhtmlxcolorpicker_dhx_skyblue .cs_Hex {font-family:Arial; 
 Font-size: 12px; 
 width:55px}
.dhtmlxcolorpicker_dhx_skyblue .cs_Hex_Mini,
.dhtmlxcolorpicker_dhx_skyblue .cs_Hex_MiniX {font-family:Arial; 
 Font-size: 10px; 
 height:15px; 
 width:45px; margin:0px; padding:0px; 
 border:1px solid #fff}
.dhtmlxcolorpicker_dhx_skyblue .cs_Hex_MiniX {height:11px}
.dhtmlxcolorpicker_dhx_skyblue .cs_Input {width:26px; font-family:Arial; Font-size: 12px; text-align:right}
.dhtmlxcolorpicker_dhx_skyblue .cs_Input_Mini, 
.dhtmlxcolorpicker_dhx_skyblue .cs_Input_MiniX {width:22px; height:15px; font-family:Arial; font-size: 10px; margin:0px; padding:0px; text-align:right; border:1px solid #fff}
.dhtmlxcolorpicker_dhx_skyblue .cs_Input_MiniX {height:11px}
.dhtmlxcolorpicker_dhx_skyblue .cs_CustomColorAdd{width:145px; font-family:Arial; font-size: 12px; margin-top:8px}
.dhtmlxcolorpicker_dhx_skyblue .cs_CustomColorAdd_Mini,
.dhtmlxcolorpicker_dhx_skyblue .cs_CustomColorAdd_Mini_Hover{background: url('imgs/__dhxCP_skin_SkyBlue/but_add.gif'); border:0; width:100%; height:21px; font-family:Tahoma; font-size: 11px; margin-top:6px; padding-left:20px}
.dhtmlxcolorpicker_dhx_skyblue .cs_CustomColorAdd_Mini_Hover{background-position: left bottom}
.dhtmlxcolorpicker_dhx_skyblue .cs_CustomColors{margin-top:8px; width:76px; height:38px}
.dhtmlxcolorpicker_dhx_skyblue .cs_CustomColors_Mini{width:100%; height:18px; margin-top:6px}
.dhtmlxcolorpicker_dhx_skyblue .cs_CustomColor{float:left; width:14px; height:14px; border:1px solid #fff; overflow:hidden; cursor:pointer; 
 margin-bottom:3px; margin-right:3px}
.dhtmlxcolorpicker_dhx_skyblue .cs_CustomColor_Mini{float:left; width:18px; height:18px; border:1px solid #a4bed4; overflow:hidden; cursor:pointer; 
 margin-bottom:3px; margin-right:3px}
.dhtmlxcolorpicker_dhx_skyblue .cs_ButtonOk,
.dhtmlxcolorpicker_dhx_skyblue .cs_ButtonOk_Hover{background: url('imgs/__dhxCP_skin_SkyBlue/but_select.gif'); border:0; margin: 3px 6px 0 0; padding-left:17px; float:right; width:70px; font-family:Tahoma; font-size: 11px; height:21px}
.dhtmlxcolorpicker_dhx_skyblue .cs_ButtonOk_Hover{background-position: left bottom}
.dhtmlxcolorpicker_dhx_skyblue .cs_ButtonCancel,
.dhtmlxcolorpicker_dhx_skyblue .cs_ButtonCancel_Hover{background: url('imgs/__dhxCP_skin_SkyBlue/but_cancel.gif'); border:0; margin: 3px 7px 0 0; padding-left:17px; width:72px; float:right; font-family:Tahoma; font-size: 11px; height:21px}
.dhtmlxcolorpicker_dhx_skyblue .cs_ButtonCancel_Hover{background-position: left bottom; 
}
.dhtmlxcolorpicker_dhx_skyblue .cs_colorInput{position:absolute; top:0px; left:0px}
.dhtmlxcolorpicker_dhx_blue .cs_colorBox{position:absolute; top:0px; left:0px; border:1px solid blue}
.dhtmlxcolorpicker_dhx_skyblue .cs_ButtonsPanel{margin-bottom:8px}
