body,td,th {
	color: white;
}
body {
	background-color: #2F00CE;
	background-image: url(http://buttons.travisnapoleansmith.com/Background2.png);
	background-attachment: fixed;
	background-repeat: repeat-y;
	background-position: inherit;
	font-family: Arial, Helvetica, sans-serif;
}

li {
	list-style-type: none;
	margin: -15px;
	position: relative;
	left: -25px; 
}
a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #FFFF00;
}
a:active {
	text-decoration: none;
}

.BodyText2 a:link {
	color: #FFFFFF;
	text-decoration: underline;
}
.BodyText2 a:visited {
	color: #FFFFFF;
	text-decoration: underline;
}

#textlayer1 {
	background-image: url(http://buttons.travisnapoleansmith.com/Text-Background.png);
	background-repeat: no-repeat;
	position: absolute; 
	width:900px; 
	height:577px; 
	z-index: 0;
	top: 150px; 
	left: 50px;
}

#picturebox1 {
	position:absolute; 
	width:200px; 
	height:115px; 
	z-index:2; 
	left: 10px; 
	top: 315px;
}

#picturebox2 {
	position: absolute;
	widht: auto;
	height: auto;
	z-index: 2;
	left: 550px;
	top: 50px;
}

div.container {
	vertical-align: middle;
}

.MenuText1 {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.MenuText2 {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.MenuText2-1 {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.MenuText3 {
	font-size: 60%;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

.BodyTextHeadings1 {
	font-size: 20px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

.BodyTextHeadings1-1 {
	font-size: 20px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

.BodyTextHeadings2 {
	font-size: 14px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

.BodyTextHeadings3 {
	font-size: 14px;
	color: #FFFFFF;
	
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
}

.BodyTextHeadings4 {
	font-size: 18px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

.BodyText1 {
	font-size: 14px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

.BodyText2 {
	font-size: 80%;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

.LiText1-1 {
	left: 0px;
}

.LiText1-2 {
	left: 5px;
}

.LiText1-3 {
	left: 10px;
}

.LiText1-4 {
	left: 15px;
}

.LiText1-5 {
	left: 20px;
}

.LiText1-6 {
	left: 25px;
}

.LiText1-7 {
	left: 30px;
}

.LiText1-8 {
	left: 35px;
}

.LiText1-9 {
	left: 40px;
}

.LiText1-10 {
	left: 45px;
}

.LiText1-11 {
	left: 50px;
}

.LiText1-12 {
	left: 55px;
}

.LiText1-13 {
	left: 60px;
}

.LiText1-14 {
	left: 65px;
}

.LiText1-15 {
	left: 70px;
}

.LiText1-16 {
	left: 75px;
}

.LiText1-17 {
	left: 80px;
}

.LiText1-18 {
	left: 85px;
}

.LiText1-19 {
	left: 90px;
}

.LiText1-20 {
	left: 95px;
}

.MenuText2:hover {
	color: #FFFF00;
}

.BodyTextHeadings1:hover {
	color: #FFFF00;
}

/* Bottom Panel 1 Buttons */

.BottomPanel1InUse {
	position:absolute; 
	width:111px; 
	height:53px;
	z-index:1; 
	background-image: url(http://buttons.travisnapoleansmith.com/InUseButton.png);
	background-repeat: no-repeat; 
	top: 0px;
}

.BottomPanel1 {
	position:relative; 
	width:628px; 
	height:57px; 
	z-index:5; 
	left: 220px; 
	top: 590px; 
	background-repeat: no-repeat; 
	border: 1px none #000000;
}

.BottomPanel1-1 {
	position:absolute; 
	width:628px; 
	height:57px; 
	z-index:5; 
	left: 178px; 
	top: 480px; 
	background-repeat: no-repeat; 
	border: 1px none #000000;
}

.BottomPanel1Button {
	position:absolute; 
	width:111px; 
	height:53px;
	z-index:1; 
	background-image: url(http://buttons.travisnapoleansmith.com/BottomPanel1Button.png); 
	background-repeat: no-repeat; 
	top: 0px;
}

.BottomPanel1Button:hover{
	/*filter:alpha(opacity=85);*/
	opacity: .85;
	/*-ms-opacity: .85;*/
}
/*
.BottomPanel1Button1{
	left: 13px;
	top: 3px;
}
*/
.BottomPanel1Button2 {
	left: 102px;
	/*top: -50px;*/
}

.BottomPanel1Button3 {
	left: 203px;
	/*top: -103px;*/
}

.BottomPanel1Button4 {
	left: 305px;
	/*top: -156px;*/
}

.BottomPanel1Button5{
	left: 405px;
	/*top: -209px;*/
}

.BottomPanel1Button6 {
	left: 507px; 
	/*top: -262px;*/
}

/* Bottom Panel 1 Button Text */

.BottomPanel1ButtonText {
	position:relative;
	height:21px;
	z-index:1;
	top: 12px;
	width: 92px;
	left: 11px;
	text-align: center;
}


/* Bottom Panel 2 Buttons */
.BottomPanel2 {
	position:absolute; 
	width:638px; 
	height:57px; 
	z-index:5; 
	left: 38px; 
	top: 747px; 
	background-image: url(http://buttons.travisnapoleansmith.com/BottomPanel2Background.png); 
	background-repeat: no-repeat; 
	border: 1px none #000000;
}

.BottomPanel2Button {
	position:absolute; 
	height:53px; 
	z-index:1; 
	top: 1px;
	width:145px; 
	background-image: url(http://buttons.travisnapoleansmith.com/BottomPanel2Button.png); 
	background-repeat: no-repeat; 
	border: 1px none #000000;
}

#BottomPanel2Button1:hover, #BottomPanel2Button2:hover, #BottomPanel2Button3:hover {
	/*filter:alpha(opacity=75);*/
	opacity: .75;
	/*-ms-opacity: .75;*/
}

#BottomPanel2Button1 {
 	left: 1px; 
}

#BottomPanel2Button2 {
	left: 136px; 
}

#BottomPanel2Button3 { 
	left: 270px; 
}

#BottomPanel2Button4 {
	width:177px; 
	left: 407px; 
}

/* Bottom Panel 2 Button Text */

.BottomPanel2ButtonText{
	position:absolute; 
	height:21px; 
	z-index:1;
	top: 12px; 
}

#BottomPanel2Button1Text {
	width:100px; 
	left: 24px; 
}

#BottomPanel2Button2Text {
	width:106px; 
	left: 19px; 
}

#BottomPanel2Button3Text {
	width:121px; 
	left: 11px; 
}

#BottomPanel2Button4Text {
	width:163px; 
	left: 11px; 
	top: 8px;
}

/* Top Panel 2 Buttons */

.TopPanel2 {
	position:relative; 
	width:1011px; 
	height:32px; 
	z-index:5; 
	left: 11px; 
	top: 5px; 
	background-repeat: no-repeat;
}

.TopPanel2Button{
	position:absolute; 
	width:177px; 
	height:32px; 
	z-index:5; 
	/*top: 1px;*/ 
	background-image: url(http://buttons.travisnapoleansmith.com/Button2.png); 
	background-repeat: no-repeat; 
	border: 1px none #000000;
}

#TopPanel2Button2:hover, #TopPanel2Button3:hover, #TopPanel2Button4:hover, #TopPanel2Button5:hover, #TopPanel2Button6:hover{
	/*filter:alpha(opacity=85);*/
	opacity: .85;
	/*-ms-opacity: .85;*/
}

#TopPanel2Button1 {
	left: 1px; 
}

#TopPanel2Button2 {
	left: 172px;
}

#TopPanel2Button3 {
	left: 345px;
}

#TopPanel2Button4 {
	left: 517px;
}

#TopPanel2Button5 {
	left: 689px;
}

#TopPanel2Button6 {
	left: 862px;
}

/* Top Panel 2 Button Text */

.TopPanel2ButtonText {
	position:absolute; 
	width:160px; 
	height:19px; 
	z-index:1; 
	left: 12px; 
	top: 4px;
}

/* Menu Coding */
/*
div .TopPanelDropDown {
	display:none;
}

div .TopPanelDropDown1 {
	display: none;
}
 
div .TopPanel1Button:hover {
	opacity: .95;
}

div .TopPanel1ButtonText:hover .TopPanelDropDown{
	display: block;
}

div .TopPanelDropDown:hover .TopPanelDropDownText{
	display: block;
}

div .TopPanelDropDownText:hover .TopPanelDropDown1 {
	display: block;
}
*/