/*Header Styles */

#header-sitename{
	/*top: 16px;*/
}

#header-pagename{
	top: 30px;
}

#main-menu{
	top: -25px;
}

#main-content-middle {
	top: 10px;
}

#main-content-bottom {
	top: 10px;
}

#main-content {
	z-index: -10;
}

#footer {
	top: 25px;
}

#footer-copyright{
	top: 10px;
}