#ServerDetails {
	float: left;
	margin: 0;
	padding: 5px 0 0;
	font-size: 10px;
	color: #6f818e;
	width: 100%;
}

#ServerDetails dl, #ServerDetails dt, #ServerDetails dd {
	margin: 0;
	padding: 0;
	display: inline;
} 

#ServerDetails dl {
	display: block;
}